---
- name: Get Minikube IP
  ansible.builtin.command: minikube ip
  register: minikube_ip_cmd
  become_user: "{{ ansible_user }}"
  become: yes

- name: Add Minikube hostnames to /etc/hosts
  become: yes
  ansible.builtin.lineinfile:
    path: /etc/hosts
    line: "{{ minikube_ip_cmd.stdout }} rottenpotatoes.com kibana.com"
    state: present

- name: Create rottenpotatoes namespace
  ansible.builtin.shell: |
    kubectl --kubeconfig={{ kubeconfig_path }} create namespace {{ k8s_namespace }} || true
  become_user: "{{ ansible_user }}" 
  become: yes
    
- name: Create Postgres Kubernetes Secret
  ansible.builtin.shell: |
    kubectl --kubeconfig={{ kubeconfig_path }} create secret generic postgres-secret \
      --from-literal=DB_HOST='{{ db_host }}' \
      --from-literal=POSTGRES_USER='{{ postgres_user }}' \
      --from-literal=POSTGRES_PASSWORD='{{ postgres_password }}' \
      --from-literal=POSTGRES_DB='{{ postgres_db }}' \
      --dry-run=client -o yaml | kubectl --kubeconfig={{ kubeconfig_path }} apply -f - -n {{ k8s_namespace }}
  args:
    chdir: "/home/{{ ansible_user }}/project_workspace/kubernetes"
  become_user: "{{ ansible_user }}"  
  become: yes

- name: Render backend.yaml with env variables on remote
  ansible.builtin.shell: |
    export BACKEND_IMAGE="{{ backend_image }}"
    export DOCKER_TAG="{{ docker_tag }}"
    envsubst < templates/backend.yaml.j2 > k8s-backend.yaml
  args:
    chdir: /home/{{ ansible_user }}/project_workspace/kubernetes
  become: yes


- name: Render backend.yaml with env variables on remote
  ansible.builtin.shell: |
    export FRONTEND_IMAGE="{{ frontend_image }}"
    export DOCKER_TAG="{{ docker_tag }}"
    envsubst < templates/frontend.yaml.j2 > k8s-frontend.yaml
  args:
    chdir: /home/{{ ansible_user }}/project_workspace/kubernetes
  become: yes