---
- name: "Download Kubernetes GPG key"
  ansible.builtin.get_url:
    url: https://pkgs.k8s.io/core:/stable:/v1.29/deb/Release.key
    dest: /etc/apt/keyrings/kubernetes-apt-keyring.gpg
    mode: '0644'
    force: yes
    
- name: "Add Kubernetes repository"
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.29/deb/ /"
    state: present
    filename: kubernetes
    
- name: "Install kubectl"
  ansible.builtin.apt:
    name: kubectl
    state: present
    update_cache: yes
    
- name: "Ensure kubectl is on the latest version"
  ansible.builtin.apt:
    name: kubectl={{ kubectl_version | default('1.29.*') }}
    state: present
    
- name: "Verify kubectl installation"
  ansible.builtin.command: kubectl version --client
  register: kubectl_version_check
  changed_when: false
  
- name: "Display kubectl version"
  ansible.builtin.debug:
    msg: "{{ kubectl_version_check.stdout }}"
