---
- name: Install kubectl
  ansible.builtin.shell: |
    curl -LO "https://dl.k8s.io/release/v1.29.0/bin/linux/amd64/kubectl"
    chmod +x kubectl
    mv kubectl /usr/local/bin/
  args:
    creates: /usr/local/bin/kubectl

- name: Verify kubectl installation
  ansible.builtin.command: kubectl version --client
  register: kubectl_check
  changed_when: false

- name: Display kubectl version
  ansible.builtin.debug:
    msg: "{{ kubectl_check.stdout }}"

- name: Install Minikube
  ansible.builtin.shell: |
    curl -Lo minikube https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
    chmod +x minikube
    mv minikube /usr/local/bin/
  args:
    creates: /usr/local/bin/minikube

- name: Start Minikube with Docker driver
  ansible.builtin.shell: minikube start --driver=docker
  args:
    creates: /home/{{ ansible_user }}/.minikube

- name: Verify Minikube status
  ansible.builtin.command: minikube status
  register: minikube_status
  changed_when: false

- name: Display Minikube status
  ansible.builtin.debug:
    msg: "{{ minikube_status.stdout }}"
