---
- name: Update Kubernetes Deployment
  ansible.builtin.shell: |
    set -e
    cd /home/{{ ansible_user }}/project_workspace/kubernetes

    kubectl --kubeconfig={{ kubeconfig_path }} apply -f k8s-database.yaml -n {{ k8s_namespace }}
    kubectl --kubeconfig={{ kubeconfig_path }} apply -f k8s-logging.yaml -n {{ k8s_namespace }}

    kubectl --kubeconfig={{ kubeconfig_path }} apply -f k8s-backend.yaml -n {{ k8s_namespace }}
    kubectl --kubeconfig={{ kubeconfig_path }} apply -f k8s-frontend.yaml -n {{ k8s_namespace }}

    kubectl --kubeconfig={{ kubeconfig_path }} apply -f k8s-ingress.yaml -n {{ k8s_namespace }}

    kubectl --kubeconfig={{ kubeconfig_path }} rollout restart deployment/elasticsearch -n {{ k8s_namespace }}
    kubectl --kubeconfig={{ kubeconfig_path }} rollout restart deployment/backend-deployment -n {{ k8s_namespace }}
    kubectl --kubeconfig={{ kubeconfig_path }} rollout restart deployment/frontend-deployment -n {{ k8s_namespace }}

    kubectl --kubeconfig={{ kubeconfig_path }} rollout restart deployment/kibana -n {{ k8s_namespace }}
    kubectl --kubeconfig={{ kubeconfig_path }} rollout status deployment/kibana --timeout=300s -n {{ k8s_namespace }}
  become: yes