---
- name: "Update all packages"
  ansible.builtin.apt:
    update_cache: yes
    upgrade: dist
    
- name: "Install dependencies for Docker/K8s"
  ansible.builtin.apt:
    pkg:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
      - software-properties-common
      - sudo
      - rsync
      - python3-venv
    state: present

- name: "Ensure DVC cache storage has universal read/write permissions"
  ansible.builtin.file:
    path: /tmp/dvc_store
    state: directory
    mode: '0777'
    recurse: yes
