---
- name: Ensure project directory exists
  ansible.builtin.file:
    path: /home/{{ ansible_user }}/project_workspace
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}" 
    recurse: yes
  become: yes
      
- name: Copy MLflow history to remote host
  ansible.builtin.synchronize:
    src: "/var/lib/jenkins/mlflow_history/"
    dest: "/home/{{ ansible_user }}/mlflow_history/"
    mode: push
    archive: yes
  args:
    rsync_opts:
      - "--chown={{ ansible_user }}:{{ ansible_user }}"
  become: yes

- name: Copy Code, Config, and DVC Pointers
  ansible.builtin.synchronize:
    src: "{{ workspace }}/"
    dest: /home/{{ ansible_user }}/project_workspace/
    mode: push
    archive: yes
  args:
    rsync_opts:
      - "--exclude=.dvc/cache" 
      - "--chown={{ ansible_user }}:{{ ansible_user }}"
  become: yes