---
- name: "Provision server for MLOps deployment"
  hosts: server
  gather_facts: yes
  
  # This section calls the roles defined below
  roles:
    - update_system
    - install_docker
    - install_kubectl
