---
- name: "MLOps Pipeline: Configure, Build, Train, & Deploy on Host(s)'"
  hosts: server
  gather_facts: yes

  vars_files:
    - rotpot_vault.yml
  
  vars:
    # Variables passed from the Jenkinsfile environment
    dockerhub_user: "{{ lookup('env', 'DOCKER_CREDS_USR') }}"
    dockerhub_pass: "{{ lookup('env', 'DOCKER_CREDS_PSW') }}"
    k8s_namespace: "rottenpotatoes"
    kubeconfig_path: "{{ ansible_user_dir }}/.kube/config"
    backend_image: "{{ lookup('env', 'BACKEND_IMAGE') }}"
    frontend_image: "{{ lookup('env', 'FRONTEND_IMAGE') }}"
    docker_tag: "{{ lookup('env', 'DOCKER_TAG') }}"
  
  roles:
    - update_system
    - install_docker
    - install_minikube
    - set_up_workspace
    - train_model
    - build_and_push_to_docker
    - prepare_minikube
    - deploy_on_minikube
    # - configure_kibana
