---
- name: Configure Kibana
  ansible.builtin.uri:
    url: "http://kibana.com/api/saved_objects/index-pattern/rotten_potatoes_pattern"
    method: POST
    headers:
      kbn-xsrf: "true" # Required by Kibana to prove this isn't a hacker attack
      Content-Type: "application/json"
    body_format: json
    body:
      attributes:
        title: "rotten_potatoes_logs*"
        timeFieldName: "timestamp"
    status_code: [200, 409] 
  register: kibana_response
  retries: 10     
  delay: 10        
  until: kibana_response.status == 200 or kibana_response.status == 409
  become: yes